.flexcontenedor {
    display: flex;
    background-color: bisque;
}

.flexcontenedorJustificadoDerecha {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.flexcontenedor > div {
    width: 50%;
    border-style: solid;
}

.imagen{
    width: 100px;
    height: 10px;
}
